/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated

/packages/cms/.env.development filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
